body {
    /* background-image: url("./images/main.jpg"); */
    /* background-color:rgba(255,255,255,0.5); */
    /* background-blend-mode:lighten; */
    background-color: deepskyblue;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}
