body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.video-wrapper {
  position: relative;
}

.fullscreen {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.vebots-background {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

video {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

input {
  background-color: black;
  color: white;
}

#height-input {
  width: 3rem;
}

.peer-data {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0 0.5rem;
}

.hidden {
  display: none;
}
