body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.video-wrapper {
  position: relative;
}

.fullscreen {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  position: relative;
}

video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

input {
  background-color: black;
  color: white;
}

.peer-data {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

td {
  padding: 0 0.5rem;
}
